
body {
    
    background-color: linear-gradient(to right, #ff99cc, #b3b3ff);
    
}

img {
height: 25%;
width: 40%;
}

p {
margin-top: 85px;
margin-bottom: 100px;
margin-right: 130px;
margin-left: 100px;
}

#mainHeading {
    color: red;
}

.funParagraph {
    color: green;
}